@model Bravado.Models.Agile.Card
@{
    ViewData["Title"] = "AddCard";
}

<div class="container">
    <div class="row">
        <h2>Add Card</h2>
        <form asp-action="AddCard" asp-controller="Board">
            <div asp-validation-summary="All" class="text-danger"></div>
            <label asp-for="Contents"></label>
            <input type="text" asp-for="Contents" />
            <label>Start Date</label>
            <input asp-for="StartDate" class="form-control" id="datepicker" type="text" />
            <label>Due Date</label>
            <input asp-for="DueDate" class="form-control" id="datepicker" type="text" />
            <div class="row">
                <div class="input-field col s12">
                    <textarea placeholder="Notes" asp-for="Notes" class="textarea"></textarea>
                </div>
            </div>
            <button type="submit" class="btn"><i class="fa fa-plus-circle"></i> Add Card</button>
        </form>
    </div>
</div>

