@model Bravado.ViewModel.BoardList;
@{
    ViewData["Title"] = "Work Boards";
}

<div class="container">
    <div class="row">
        <h2>Boards</h2>
        <hr />
        <a asp-action="Create" asp-controller="Board" class="btn btn-primary">
            <i class="fa fa-plus-circle"></i>
            Add New Board
        </a>

    </div>

    <div class="row">
        @foreach (var board in Model.Boards)
        {
            <div style="float: left; margin-right: 2em; width: 22em;">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">
                            @board.Title
                        </span>
                    </div>
                    <div class="card-action">
                        <a asp-action="Index" asp-controller="Board"
                           asp-route-id="@board.Id"
                           class="collction-item"><i class="fa fa-paper-plane"></i> View</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


