@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>A simple application built by Grant Watson</p>
    <p>USer mut be logged in to view any module</p>
</div>
