@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bravado</h1>
    <p>A simple application built by Grant Watson</p>
    <p>To be precise, this is becoming a suite of applications that I will turn into smaller individual applications found on Github</p>
</div>
