@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/img/logo.png" alt="Image">
</div>
@if (SignInManager.IsSignedIn(User))
{

    <p>The following is a list of what is included:</p>
    <ol>
        <li>Agile Work Board</li>
        <li>Document Entry</li>
        <li>Pomodoro Clock</li>
        <li>File System</li>
        <li>Client Management System</li>
        <li>Invoice Creation</li>   
    </ol>

    <p>
        After a few iterations of this application, you will not see the home page. Rather, an authenticate individual will
        be redirected to a profile page with some dashboards with important info at your fingertips.
    </p>
}
else
{
    <div class="text-center">
        <p>Welcome to Bravado, a dev made application for developers and engineers for a better workflow</p>
        <p>Please log in to use the application</p>
    </div>
}

