@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/img/logo.png" alt="Image">
    <p>Welcome to the Bravado Suite. This is a suite of applications. </p>
</div>
<p>The following is a list of what is included:</p>
<ol>
    <li>Agile Work Board</li>
    <li>Document Entry</li>
    <li>Pomodoro Clock</li>
    <li>File System</li>
</ol>

