@using Bravado.Models
@model Bravado.Models.Agile.Task
@{
    ViewData["Title"] = "Add Task";
}

<div class="container">
 <form asp-action="Add" method="post">
    <div class="row">
        <div class="col-md-6">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" required>
        </div>
        <div class="col-md-6">
            <label>Due Date</label>
            <input asp-for="DueDate" class="form-control" id="datepicker" />
        </div>
    </div>
    <input hidden asp-for="BoardId" Model.BoardId>
    <label>Add Description for Task</label>
    <textarea cols="250" asp-for="Description" class="textarea" placeholder="Place some text here"
                              style="height: 550px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; border-radius:3px; padding: 10px;"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
    <br/>
    <label>Column Selection:</label>
    <select class="browser-default" asp-for="ListNum"required>
      <option value="" disabled selected>Choose the starting list for this task</option>
      <option value="1">To Do</option>
      <option value="2">In Progress</option>
      <option value="3">Done</option>
    </select>
    <hr/>
    <button asp-route-id="Model.BoardId" class="btn btn-primary" type="submit">
        <i class="fa fa-floppy-o" aria-hidden="true"></i> Create
    </button>
</form>
</div>


<script>  $(document).ready(function() {
    M.updateTextFields();
  });</script>