@using Bravado.Models
@model Bravado.Models.Task
@{
    ViewData["Title"] = "Add Task";
}

<div class="container">
    <form method="post">
        <div class="row">
            <div class="col-md-12">
                <input asp-for="Title" placeholder="Title" required>
                <input hidden asp-for="BoardId" Model.BoardId>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <textarea cols="250" row="550px" asp-for="Description" class="textarea" placeholder="Description"
                          style="font-size: 14px; line-height: 18px; border: 1px solid #dddddd; border-radius:3px; padding: 10px;"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="DateOpened" class="control-label"></label>
                    <input asp-for="DateOpened" class="form-control" />
                    <span asp-validation-for="DateOpened" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <label class="col-md-2 control-label">Board</label>
                <select class="browser-default" asp-for="ListNum" required>
                    <option value="" disabled selected>Choose the starting list for this task</option>
                    <option value="1">To Do</option>
                    <option value="2">In Progress</option>
                    <option value="3">Done</option>
                </select>
            </div>
        </div>
        <div class="row">
            <label asp-for="Priority" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select class="browser-default" asp-for="Priority" asp-items="Html.GetEnumSelectList<PriorityTypes>()"></select>
                <span asp-validation-for="Priority" class="text-danger" />
            </div>
        </div>
        <button asp-route-id="Model.BoardId" class="btn btn-primary" type="submit">
            Create <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
    </form>
</div>


<script>$(document).ready(function () {
        M.updateTextFields();
    });</script>