@using Bravado.Models
@model Bravado.Models.Task

@{
    ViewData["Title"] = "Edit Task";
}

<div class="container">
    <form method="post">
        <div class="row">
            <input asp-for="Title" placeholder="Title" Model.Title required>
            <input hidden asp-for="Id" Model.Id>
            <input hidden asp-for="BoardId" Model.BoardId>
        </div>
        <div class="row">
            <textarea class="textarea" asp-for="Description" Model.Description></textarea>
            <select class="browser-default" asp-for="ListNum" required Model.ListNum>
                <option value="" disabled>Choose the starting list for this task</option>
                <option value="1">To Do</option>
                <option value="2">In Progress</option>
                <option value="3">Done</option>
            </select>
        </div>
        <button asp-route-id="Model.BoardId" class="btn center-align" type="submit">
            Update <i class="fa fa-cog" aria-hidden="true"></i>
        </button>
    </form>
</div>


<script>$(document).ready(function () {
        M.updateTextFields();
    });</script>