@using Bravado.Models
@model Board
@{
    ViewData["Title"] = "Add Board";
}
<div class=container>
    <form method="post">
        <label>Title of Board:</label>
        <input asp-for="Title" placeholder="Title">
        <button class="btn btn-success" type="submit">
            Create <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
    </form>
</div>