@using Bravado.Models.Agile
@model Board
@{
    ViewData["Title"] = "Add Board";
}
<div class=container>
<form method="post">
    <label>Title of Board:</label>
    <input asp-for="Title" placeholder="Title">
    <input hidden asp-for="UserId" Model.UserId>
    <button class="btn btn-primary" type="submit">
        Create <i class="fa fa-paper-plane" aria-hidden="true"></i>
    </button>
</form>
</div>