@{
    ViewData["Title"] = "Your Boards:";
}
@using Bravado.Models
@using System.Collections.Generic
@model IEnumerable<Board>

<div class="fixed-action-btn">
    <a asp-action=Add asp-controller="Boards" class="btn btn-warning">
        Add New Board <i class="fa fa-plus" aria-hidden="true"></i>
    </a>
</div>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            @foreach (var board in Model)
            {
                <div class="card text-center">

                    <div class="card-body">
                        <span class="card-title">@board.Title</span>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Open" class="btn btn-primary" asp-route-id="@board.Id">Open <i class="fa fa-envelope-open-o" aria-hidden="true"></i></a>
                    </div>
                </div>

            }
        </div>
    </div>

</div>