@using Bravado.Models.Agile
@model Bravado.Models.Agile.Board
@{
    ViewData["Title"] = "Edit Board";
}

<div class="container">
<form method="post">
    <input asp-for="Title" placeholder="Title" Model.Title required>
    <input hidden asp-for="Id" Model.Id>
    <button asp-route-id="Model.Id" class="btn btn-primary" type="submit">
      <i class="fa fa-floppy-o" aria-hidden="true"></i>  Update
    </button>
</form>
</div>


<script>  $(document).ready(function() {
    M.updateTextFields();
  });</script>
