@model Bravado.ViewModel.AgileViewModels.CardDetails

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    
    <div class="row">
        <form class="col s12" asp-controller="Card" asp-action="Update">
            <input asp-for="Id" type="hidden" />
            <div class="row">
                <div class="input-field col s6">
                    <h2>@Html.DisplayFor(model => model.Contents)</h2>
                </div>
                <div class="input-field col s6">
                   <h2>@Model.DueDate.ToString("dd-MMM")</h2>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    @if(Model.Notes == null)
                    {
                        <p>No Requirement Notes</p>
                    }
                    else
                    {
                        @Html.Raw(Model.Notes)
                    }
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select asp-for="Columns" asp-items="Model.Columns"></select>
                    <label asp-for="Columns"></label>
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Save" class="btn">
            </div>
        </form>
    </div>
</div>


@if(TempData.ContainsKey("Message"))
{
    <script type="text/javascript">
        M.toast({ html: '@TempData["Message"]'}, 3000);
    </script>
}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
</script>
