@model Bravado.ViewModel.AgileViewModels.CardDetails
@{
    ViewData["Title"] = "Edit Task";
}

<div class="container">
    <h2>Update Task</h2>
    <hr />
    <div class="row">
        <form asp-action="CardUpdate" asp-controller="Agile">
            <div asp-validation-summary="All" class="text-danger"></div>
            
            <label>Title</label>
            <input type="text" asp-for="Contents"/>

            <label>Due Date</label>
            <input type="date" asp-for="DueDate">
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <textarea cols="250" asp-for="Notes" class="textarea" placeholder="Tell us what the requirements are for this task"
                    style="height: 550px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; border-radius:3px; padding: 10px;"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
           </div>

            <button type="submit" class="btn btn-primary">Update Card</button>
        </form>
    </div>
</div>

