@model Bravado.ViewModel.AgileViewModels.BoardList

@{
    ViewData["Title"] = "Agile Work Boards";
}

<div class="container">
    <div class="row">
        <h2>Work Boards</h2>
    

    </div>

    <hr/>
    <a asp-action="Create" asp-controller="Home" class="btn btn-primary">
       <i class="fa fa-plus-circle" aria-hidden="true"></i> Add New Board
    </a>

    <div class="row">
        @foreach (var board in Model.Boards)
        {
            <div>
                <div style="float: left; margin-right: 2em; width: 22em;">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">
                                <a asp-action="BoardDetail" asp-controller="Agile"
                                asp-route-id="@board.Id"
                                class="collction-item" style="color:white;">@board.Title</a> 
                            </span>
                        </div>
                        <div class="card-action">
                            <a asp-action="BoardDetail" asp-controller="Agile"
                               asp-route-id="@board.Id"
                               class="collction-item">View</a> 
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>