@model Bravado.Models.Agile.Board

@{ ViewData["Title"] = "Create New Board";
    Layout = "~/Views/Shared/_Layout.cshtml"; }



<h1>Add New Board</h1>

<hr />
<center>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <label>Title of Board:</label>
            <input asp-for="BoardTitle" placeholder="BoardTitle">
            <input hidden asp-for="UserId" Model.UserId>
             <input hidden asp-for="BoardID" Model.BoardID>
            <button class="btn btn-primary" type="submit">
                Create <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
        </form>
    </div>
</div>
</center>

<div>
    <center>
        <button class="btn btn-secondary"><a asp-action="Index" style="color:white"><i class="fa fa-list-ul" aria-hidden="true"></i> Back to List</a></button>
    </center>
</div>
<br />
<hr />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
