@using Bravado.ViewModel.AgileViewModels
@using System.Collections.Generic
@model BoardDetails

@{
    ViewData["Title"] = $"{Model.Board.BoardTitle}" + " " + "Work Board";
}
<div class=row>
    <div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#columnModal">
            Add New Column
        </button>
        <a asp-action=Edit asp-route-id="@Model.Board.BoardTitle" class="waves-effect waves-light btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        <a asp-action=Delete asp-route-id="@Model.Board.BoardTitle" class="waves-effect waves-light red btn"><i class="fa fa-window-close" aria-hidden="true"></i></a>
    </div>
</div>

<div class="container">
  <div class="row">

        @foreach (var column in Model.Columns) 
        {
          <div class="col-md-4">
            <div class="taskCol">
                <div class="taskColHeader">
                  @column.ColumnName
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#taskModal">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i> 
                  Add Task
                </button>
            </div>
          </div>
        }

  </div>
</div>

<!-- Task Modal -->
<div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
            New Task
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="AddColumn" method="post">
                  <div class="row">
                    <div class="col-md-6">
                      <label asp-for="Card.CardName" class="control-label"></label>
                      <input asp-for="Card.CardName" class="form-control" >
                    </div>
                    <div class="col-md-6">
                      <label asp-for="Card.DateCreated" class="control-label"></label>
                      <input asp-for="Card.DateCreated" class="form-control" id="datepicker" />
                    </div>
                  </div>
                  <div class="row">
                    <label asp-for="Card.DueDate" class="control-label"></label>
                    <input asp-for="Card.DueDate" class="form-control" id="datepicker" />
                  </div>
                  <div class="row">
                    <label asp-for="Card.CardNotes" class="control-label"></label>
                        <textarea cols="250" asp-for="Card.CardNotes" class="textarea" placeholder="Place some text here"
                          style="height: 550px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; border-radius:3px; padding: 10px;"></textarea>
                  </div>
                  
                    <input hidden asp-for="Card.CID" >
                    <input hidden asp-for="Card.CardID" >

                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button class="btn btn-primary" type="submit">
                    Create <i class="fa fa-paper-plane" aria-hidden="true"></i>
                  </button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Column Modal -->
<div class="modal fade" id="columnModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Column</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="AddColumn" method="post">
                    <input asp-for="Column.ColumnName" placeholder="Column Name">
                    <input hidden asp-for="Column.ColumnID" >
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">
                        Create <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br/>
<hr />
