<!DOCTYPE html>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bravado</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>    $(function () {
        awem.dragReor({ from: $('#board1 .card'), to: '#board1 .card', sel: '.item' });

        // don't drag board when mouse down on .item
        function cancel(cx) { return $(cx.e.target).closest('.item').length; }

        awem.dragReor({ from: $('#board1'), to: '#board1', sel: '.card', cancel: cancel });

        // write to log
        $('#board1').on('awedrop',
            function (e, data) {
                var o = $(e.target);
                var msg = name(o) +
                    ' moved from ' +
                    name(data.from) +
                    ' to ' +
                    name(o.parent()) +
                    ' | previ = ' +
                    data.previ +
                    ' newi = ' +
                    o.index();
                $('#logci').html(msg + '</br>');
            });

        function name(o) {
            var r = o.attr('class');
            if (o.data('k')) r += ' ' + o.data('k');
            if (o.hasClass('item')) r = o.html();
            return r;
        }
    });</script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/navlogo.png" style="height:50px; width:150px;"alt="Bravado">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Entry" asp-action="Index">Entries</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Boards" asp-action="All">Agile Boards</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Bravado - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/dragndrop.js"></script>
    <script src="~/js/aweui.js"></script>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <script>$(function () {

            $('.textarea').summernote()
        });
        $(function () {
            awem.dragAndDrop({
                from: $('.dropZone'),
                sel: '.dragItem', // what we can drag
                dropSel: '.dropZone', // where we can drop
                //tof: function() {
                //    // alternative way to determine where we are allowed to drop
                //    // evaluated when we start dragging
                //    return $('.dropZone').map(function (i, el) { return $(el); }).get();
                //},
                hover: function (cx) {
                    cx.cont.addClass('awe-highlight');
                },
                drop: function (cx) {
                    cx.cont.append(cx.drgo);
                },
                reshov: function () {
                    $('.dropZone').removeClass('awe-highlight');
                },
                hide: 1 // hide drag object while dragging
            });
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
